@import '@fontsource/fira-mono';
@import './reset.css';
@import './scrollbars.css';

@font-face {
	font-family: w95;
	src: url('/themes/w95/font.woff2') format('woff2'),
		 url('/themes/w95/font.ttf') format('ttf');
	 font-weight: normal;
	 font-style: normal;
	 font-display: swap;
}

@font-face {
	font-family: sticker;
	src: url('/themes/sticker/font.woff2') format('woff2'),
		 url('/themes/sticker/font.woff') format('woff'),
		 url('/themes/sticker/font.ttf') format('ttf');
	 font-weight: normal;
	 font-style: normal;
	 font-display: swap;
}

:root {
	--body-font: Arial, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
		Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	--font-mono: 'Fira Mono', monospace;
	/* --color-bg-0: hsl(45deg 40% 84%); */
	/* --color-bg-1: hsl(45deg 40% 84%); */
	/* --color-bg-2: hsl(224, 44%, 95%); */
	--color-bg-0: hsl(205deg 51% 69%);
	--color-bg-1: hsl(180deg 71% 30%);
	--color-bg-2: hsl(205deg 51% 69%);
	--color-theme-1: #05668D;
	--color-theme-2: hsl(187, 97%, 29%);
	--color-theme-3: #9D5C63;
	--color-theme-4: #628B48;
	--color-theme-5: #cac5c5;
	--color-text: rgba(0, 0, 0, 0.7);
	--column-width: 42rem;
	--column-margin-top: 4rem;
	font-family: var(--body-font);
	color: var(--color-text);
}

h1, h2, h3, h4, h5, h6 {
  margin-bottom: .7em;
  font-family: var(--header-font);
}

.app {
  font-family: var(--body-font);
  width: 100%;
}

body {
  display: flex;
	scrollbar-gutter: stable both-edges;
	overflow-y: scroll;
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
}

.W95-theme body {
  background-color: var(--color-bg-1);
}

.Sticker-theme body {
  background-color: white;
}

.W95-theme *:focus {
  outline-style: dotted;
  outline-color: grey;
}

h1,
h2,
p {
	font-weight: 400;
}

p {
	line-height: 1.5;
}

a {
	color: var(--color-theme-1);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

h1 {
	font-size: 2rem;
	text-align: center;
}

h2 {
	font-size: 1rem;
}

pre {
	font-size: 16px;
	font-family: var(--font-mono);
	background-color: rgba(255, 255, 255, 0.45);
	border-radius: 3px;
	box-shadow: 2px 2px 6px rgb(255 255 255 / 25%);
	padding: 0.5em;
	overflow-x: auto;
	color: var(--color-text);
}

.text-column {
	display: flex;
	max-width: 48rem;
	flex: 0.6;
	flex-direction: column;
	justify-content: center;
	margin: 0 auto;
}

.Sticker .text-column {
  max-width: 65rem;
}

input,
button {
	font-size: inherit;
	font-family: inherit;
}

button:focus:not(:focus-visible) {
	outline: none;
}

@media (min-width: 720px) {
	h1 {
		font-size: 2.4rem;
	}
}
